<html ng-app="colourPallete">
<head>
<title>
Colour pallet</title>
<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body ng-controller="ColourController">
<h1 id="header">COLOR PALETTE</h1>

<div id="colordisplay">
<div id="coloralign">
<p class="float">Hue </p>
<input type="number" class="colorarea" ng-model="colour.red"></input>
<p class="float">Saturation </p>
<input type="number" class="colorarea" ng-model="colour.green"></input>
<p class="float">Light </p>
<input type="number" class="colorarea" ng-model="colour.blue"></input>
</div>
<br />
<br />
</div>
<div clas="setline">
  <div ng-repeat="mystyle in Style">  
<div class="box" ng-style="mystyle.style"></div>
    <button class="a_demo_one" ng-click="removeColor($index)">Remove</button>
     <!-- <input type ="number" class = "colorarea" ng-model="colour2.red"></input>
      <input type ="number" class = "colorarea" ng-model="colour2.green"></input>
      <input type ="number" class = "colorarea" ng-model="colour2.blue"></input>
 <button class="but" ng-click="changePointColour($index)">Change Colour</button>-->
    
    </div>
<button class="but" ng-click="addColour(colour)" >Update</button>
    
    <button class="a_demo_one" ng-click="clearAll(colour)">Clear</button>
</div>
<script src="angular.js"></script>
<script src="js/app.js" >
    

    
</script>
</body>
</html>